<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="FATAL">
    <Appenders>
        <File name="File" fileName="logs/log4j2.log" append="true">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger>
            <Root level="info">
                <AppenderRef ref="File"/>
            </Root>
        </Logger>
    </Loggers>
</Configuration>